@for (item of inputDetail; track $index) {
  <details [ngClass]="inputDarkMode === true ? 'dark' : 'light'">
    <summary>
      <div>
        <div>
          <img
          [src]="'assets/icons/' + type + '.svg'"
          height="22"
          width="22"
          >
        </div>
        <div>
          <p>
            <strong>{{item.summary.role}}</strong>
            {{item.summary.date}}
          </p>
        </div>
      </div>
    </summary>
    <article [innerHTML]="item.description"></article>
    @if (hasStacks() === true) {
      @defer (on viewport) {
        <app-stacks-and-tools [inputStacks]="item.stacksIds"></app-stacks-and-tools>
      } @placeholder {
        <section>
          <h4>Carregando stacks e ferramentas utilizadas...</h4>
        </section>
      } @error {
        <section>
          <h4>Ocorreu um erro ao carregar os stacks e ferramentas. Tente novamente.</h4>
        </section>
      }
    }
    @if (hasValidations()) {
      @defer (on viewport) {
        <app-cert-validation [inputValidation]="item.url"></app-cert-validation>
      } @placeholder {
        <section>
          <h4>Carregando...</h4>
        </section>
      } @error {
        <section>
          <h4>Ocorreu um erro ao carregar. Tente novamente.</h4>
        </section>
      }
    }
  </details>
}
