:host {
  h4 {
    text-align: center;
    margin: 0 0 25px 0;
  }

  details {
    overflow: hidden;
    margin-top: 10px;
    border-radius: 7px;
    color: var(--white);

    summary,
    article {
      padding: 10px 20px;
      color: var(--grey);
      transition: 500ms ease-out;
      text-align: justify;
    }

    summary {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: var(--primary);

      p {
        font-size: 14px;
        color: var(--black-010);
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
      }

      div {
        display: flex;

        div {
          margin-right: 10px;
          align-items: center;
        }
      }
    }

    &[open] {
      summary {
        &::after {
          content: url("../../../../../../assets/icons/chevron-up.svg");
          margin-top: 5px;
        }
        border-radius: 7px 7px 0 0;
      }
    }

    &:not([open]) {
      summary {
        &::after {
          content: url("../../../../../../assets/icons/chevron-down.svg");
          margin-top: 5px;
        }
        border-radius: 7px 7px 0 0;
      }
    }
  }

  .dark {
    background: var(--black);
  }

  .light {
    background: var(--black-010);
  }

  .interaction {
    cursor: pointer;
  }

  .loader {
    height: auto;
    display: block;
    margin: 0 auto;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(farthest-side, var(--primary) 94%, #0000) top/8px 8px
        no-repeat,
      conic-gradient(#0000 30%, var(--primary));
    -webkit-mask: radial-gradient(
      farthest-side,
      #0000 calc(100% - 8px),
      #000 0
    );
    animation: l13 1s infinite linear;
  }
  @keyframes l13 {
    100% {
      transform: rotate(1turn);
    }
  }
}
