:host {
  h4 {
    text-align: center;
    margin: 0 0 25px 0;
  }

  details {
    overflow: hidden;
    margin-top: 10px;
    border-radius: 7px;
    color: var(--white);

    summary,
    article {
      padding: 10px 20px;
      color: var(--grey);
      transition: 500ms ease-out;
      text-align: justify;
    }

    summary {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: var(--primary);

      p {
        font-size: 14px;
        color: var(--black-010);
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
      }

      div {
        display: flex;

        div {
          margin-right: 10px;
          align-items: center;
        }
      }
    }

    &[open]{
      summary {
        &::after {
          content: url("../../../../../../assets/icons/chevron-up.svg");
          margin-top: 5px;
        }
        border-radius: 7px 7px 0 0;
      }
    }

    &:not([open]){
      summary {
        &::after {
          content: url("../../../../../../assets/icons/chevron-down.svg");
          margin-top: 5px;
        }
        border-radius: 7px 7px 0 0;
      }
    }

  }

  .dark {
    background: var(--black);
  }

  .light {
    background: var(--black-010);
  }
}
