<header>
  <img
    src="assets/img/felipe.jpg"
    alt="Felipe Morais - Foto de Perfil"
    width="152px"
    height="152px"
    loading="eager"
  >
  <h1>Felipe Morais Silva</h1>
</header>
<aside>
  <div class="container">
    <p>Full-Stack .NET | C# | Angular | TypeScript</p>
    <p>São Paulo, Brasil</p>
    <p>
      Sou um profissional formado em análise e desenvolvimento de sistemas, com 6 anos de experiência no mercado, atuando com as tecnologias .NET e Angular, como desenvolvedor Full Stack.
    </p>
    <p>

    </p>
    <section>
      <a href="assets/pdf/C_FelipeMoraisSilva.pdf" target="_blank">
        <figure>
          <img
            src="assets/icons/resume.svg"
            alt="ícone para contato via WhatsApp"
            width="22px"
            height="24px"
            id="teste"
          />
          <figcaption>
            <strong>Baixar currículo</strong>
            <p>Obter currículo em pdf</p>
          </figcaption>
        </figure>
      </a>
      <a href="mailto:felipebazz@live.com">
        <figure>
          <img
            src="assets/icons/mail.svg"
            alt="ícone para contato via e-mail"
            width="22px"
            height="24px"
          />
          <figcaption>
            <strong>Envie um e-mail</strong>
            <p>entre em contato comigo :)</p>
          </figcaption>
        </figure>
      </a>
    </section>
  </div>
</aside>
