:host {
  padding: 25px 0;
  background: var(--black);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    text-align: center;
    margin: 0 0 25px 0;
  }

  ul {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;

    li {
      width: 50px;
      height: 50px;
      background: var(--black);
      display: flex;
      justify-content:center;
      align-items: center;
      border-radius: 7px;
      cursor: pointer;
    }
  }
}
