<app-header></app-header>
<main>
  <app-knowledge></app-knowledge>
  <app-experiencies></app-experiencies>
  <app-education></app-education>

  @defer (on viewport) {
    <app-certificate></app-certificate>
    <app-projects></app-projects>
  } @loading {
    <app-loading></app-loading>
  }
  @placeholder {
    <section>
      <h2>Carregando certificados e projetos...</h2>
    </section>
  } @error {
    <section>
      <h2>Ocorreu um erro ao carregar os itens. Tente novamente.</h2>
    </section>
  }
</main>
