<div class="container">
  <h2>Experiência</h2>
  @for (item of arrayExperiences(); track $index) {
    <details>
      <summary>
        <p>
          <strong>{{item.summary.role}}</strong>
          {{item.summary.date}}
        </p>
      </summary>
      <article [innerHTML]="item.text"></article>
      @defer (on viewport) {
        <app-stacks-and-tools [inputStacks]="item.stacksIds"></app-stacks-and-tools>
      } @placeholder {
        <section>
          <h4>Carregando stacks e ferramentas utilizadas...</h4>
        </section>
      } @error {
        <section>
          Ocorreu um erro ao carregar os stacks e ferramentas. Tente novamente.
        </section>
      }
    </details>
  }
</div>
