<header>
  <h2 mat-dialog-title>{{ getData()?.title }}</h2>
  <button (click)="closeDialog()">
    <img src="assets/icons/dialog/close.svg" alt="Botão para fechar o dialog">
  </button>
</header>

<mat-dialog-content>
  <article [innerHTML]="getData()?.description"></article>
  <nav>
    @for (item of getData()?.links; track item) {
      <a
      mat-raised-button
      color="primary"
      aria-label="Validar o certificado"
      [href]="item.href"
      target="_blank"
      >{{item.name}}</a
    >
    }
  </nav>
</mat-dialog-content>
