:root {
  --primary: #f5cb5c;
  --primary-010: #f77f00;

  --secondary: #06628a;
  --secondary-010: #06374e;

  --white: #fff;
  --black: #242423;
  --black-010: #333533;
  --grey: #cfdbd5;

  .mat-mdc-raised-button.mat-primary {
    color: #000;
    background-color: #f5cb5c;
  }
}
